.sidebar {
  width: 250px;
  height: 100vh;
  background: #2c3e50;
  color: white;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px;
  z-index: 99999;
}

.sidebar.closed {
  width: 80px;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-btn {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.menu {
  list-style-type: none;
  padding: 0;
}

.menu li {
  padding: 15px 10px;
  border-radius: 10px;
}

.menu li:hover,
.menu li.active,
.menu li:has(> a.active) {
  background: #34495e;
}

.menu li a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

.menu li a i {
  font-size: 20px;
  margin-right: 10px;
}

.sidebar.closed .menu li a span {
  display: none;
}

/* Media query per smartphone */
@media screen and (max-width: 768px) {
  .sidebar {
    position: fixed; /* Assicura che la sidebar sia sempre fissata */
    bottom: 0;
    top: auto;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;  /* Altezza ridotta per smartphone */
    padding: 10px;
    flex-direction: row; /* Disposizione orizzontale */
  }

  .menu li a span {
    text-decoration: none;
    color: white;
    display: none;
    align-items: center;
  }
  

  /* Nascondo l'header se non serve */
  .sidebar-header {
    display: none;
  }

  /* Adatto il menu per un layout orizzontale */
  .menu {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
  }

  .menu li {
    padding: 10px 5px;
    border-radius: 0; /* Look più flat */
  }
}
