<ct-dialog [size]="'large'" [title]="'Crea fattura da ordine'" [footerActions]="footerActions">
    <div class="row">
      <div class="col-6">
        <p-float-label>
            <p-check-box [(ngModel)]="applicareRitenuta" [binary]="true"></p-check-box>
            <label>Applica ritenuta</label>
        </p-float-label>
      </div>
      <div class="col-6 p-3">
        <p-float-label>
            <ct-input type="number" [disabled]="!applicareRitenuta" [(ctModel)]="ritenutaAcconto"></ct-input>
            <label>Ritenuta</label>
        </p-float-label>
      </div>
    </div>
    <div class="row">
        <div class="col-6 p-3">
          <p-float-label>
            <p-date-picker [(ngModel)]="scadenza"></p-date-picker>
            <label>Seleziona data di scadenza</label>
          </p-float-label>
        </div>
        <div class="col-6 p-3">
          <p-float-label>
            <p-select [(ngModel)]="stato" [options]="['Pagata', 'Non pagata']"></p-select>
            <label>Seleziona stato</label>
          </p-float-label>
        </div>
      </div>

  </ct-dialog>
  