<ct-dialog
  [size]="'large'"
  [title]="edit ? 'Modifica Ordine' : 'Nuovo Ordine'"
  [footerActions]="footerActions"
  class="order-dialog"
>
  <!-- Introduzione -->
  <div class="p-3">
    <p class="text-secondary">
      Inserisci i dettagli dell'ordine e i prodotti che desideri aggiungere.
    </p>
  </div>

  <!-- Pannello Dati Principali -->
  <p-panel header="Dati Principali" [style]="{'marginBottom': '10px'}">
    <div class="row">
      <div class="col-4 p-3">
          <p-select
            placeholder="Seleziona un cliente"
            [(ngModel)]="selectedCliente"
            [options]="clientiList"
            id="cliente"
          >
            <!-- Template per la visualizzazione di ciascuna opzione -->
            <ng-template let-option pTemplate="item">
              {{ (option.nome && option.nome.trim().length > 0) ? option.nome : option.ragioneSociale }}
            </ng-template>
            <!-- Template per la visualizzazione dell'elemento selezionato -->
            <ng-template let-option pTemplate="selectedItem">
              {{ (option.nome && option.nome.trim().length > 0) ? option.nome : option.ragioneSociale }}
            </ng-template>
          </p-select>
      </div>
      <div class="col-4 p-3">
        <p-float-label>
          <p-datePicker
            type="datetime-local"
            [disabled]="true"
            [(ngModel)]="dataOrdine"
          >
          </p-datePicker>
          <label>Data ordine</label>
        </p-float-label>
      </div>
      <div class="col-4 p-3">
        <p-float-label>
          <p-select
            placeholder="Seleziona stato"
            [(ngModel)]="stato"
            [options]="['In corso', 'Completo']"
            id="stato"
          >
          </p-select>
          <label for="stato">Seleziona stato ordine</label>
        </p-float-label>
      </div>
    </div>
  </p-panel>

  <!-- Pannello Dettagli Ordine -->
  <p-panel header="Dettagli Ordine" [style]="{'marginBottom': '10px'}">
    <div class="row">
      <div class="col-12">
        <p-table [value]="orderDetails" class="p-datatable-striped p-datatable-gridlines">
          <ng-template pTemplate="header">
            <tr>
              <th>Prodotto</th>
              <th>Quantità</th>
              <th>Prezzo Unitario</th>
              <th>IVA</th>
              <th>Totale No Iva</th>
              <th>Azioni</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-detail let-i="rowIndex">
            <tr>
              <td>{{ detail.prodotto.nome }}</td>
              <td>{{ detail.quantita }}</td>
              <td>{{ detail.prezzoUnitario }}</td>
              <td>{{ detail.prodotto.aliquotaIVA }}</td>
              <td>{{ detail.prezzoUnitario * detail.quantita }}</td>
              <td>
                <p-button
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-danger p-button-text"
                  (click)="removeDettaglio(i)"
                  tooltip="Rimuovi Prodotto"
                >
                </p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>

    <div class="row align-items-center mt-3 p-3" style="background-color: #f9f9f9; border-radius: 6px;">
      <div class="col-4">
        <p-select
          label="Prodotto"
          placeholder="Seleziona un prodotto"
          [(ngModel)]="selectedProdotto"
          [options]="prodottiList"
          optionLabel="nome"
        >
        </p-select>
      </div>
      <div class="col-4">
        <ct-input
          type="number"
          placeholder="Inserisci Quantità"
          [(ctModel)]="dettaglioQuantita"
        >
        </ct-input>
      </div>
      <div class="col-4">
        <p-button
          label="Aggiungi Prodotto"
          icon="pi pi-plus"
          class="p-button-success p-button-rounded"
          (click)="addDettaglio()"
        ></p-button>
      </div>
    </div>
  </p-panel>
</ct-dialog>
