
<div class="input-container" [ngClass]="{'disabled' : disabled, 'invalid': isInvalid, 'view-only' : view == 'viewOnly', small: size === 'small'}">
  <span>
    <label *ngIf="label || settedName">{{label}}</label>
      <input #inputModel="ngModel" [(ngModel)]="ctModel" (ngModelChange)="emitValue(ctModel)" pInputText bmText="b3" [placeholder]="placeholder" [disabled]="disabled || view == 'viewOnly'"
        [class.with-icon]="icon || primaryIcon" [class.with-two-icons]="secondaryIcon"
        [name]="name"  [required]="required"
        [type]="type" autocomplete="off"
        [maxlength]="maxLength"     
        />

        </span>
    <small bmText="note" *ngIf="helperText && !isInvalid">{{ helperText }}</small>
  </div>
  
  