<ct-dialog
  [size]="'large'"
  [title]="'Crea fattura da ordine'"
  [footerActions]="footerActions"
  class="fattura-dialog"
>
  <!-- Selezione Ordine -->
  <p-panel header="Seleziona Ordine" [style]="{marginBottom: '10px'}">
    <div class="row">
      <div class="col">
        <p-ifta-label>
          <p-select
            [filter]="true"
            filterBy="id"
            [(ngModel)]="ordine"
            [optionLabel]="'numeroOrdine'"
            placeholder="Seleziona ordine"
            [options]="ordineSelect"
            (onChange)="selectionChange()"
          ></p-select>
          <label>Seleziona ordine</label>
        </p-ifta-label>
      </div>
    </div>
  </p-panel>

  <!-- Dettagli Ordine -->
  <p-panel header="Dettagli Ordine" [style]="{marginBottom: '10px'}">
    <p-table [value]="orderDetails" class="p-datatable-striped p-datatable-gridlines">
      <ng-template pTemplate="header">
        <tr>
          <th>Prodotto</th>
          <th>Quantità</th>
          <th>Prezzo Unitario</th>
          <th>IVA</th>
          <th>Totale No Iva</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-detail>
        <tr>
          <td>{{ detail.prodotto.nome }}</td>
          <td>{{ detail.quantita }}</td>
          <td>{{ detail.prezzoUnitario }}</td>
          <td>{{ detail.prodotto.aliquotaIVA }}</td>
          <td>{{ detail.prezzoUnitario * detail.quantita }}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-panel>

  <!-- Tipo Documento / Causali -->
  <p-panel header="Dettagli Documento" [style]="{marginBottom: '10px'}">
    <div class="row">
      <div class="col">
        <p-ifta-label>
          <p-select
            [(ngModel)]="tipoDocumento"
            [options]="tipoDocumentoOptions"
          ></p-select>
          <label>Tipo Documento</label>
        </p-ifta-label>
      </div>
      <div class="col">
        <p-ifta-label>
          <ct-input
            [placeholder]="'Causale'"
            type="text"
            [(ctModel)]="causale"
          ></ct-input>
        </p-ifta-label>
      </div>
      <div class="col">
        <p-ifta-label>
          <ct-input
            [placeholder]="'Causale Pagamento'"
            type="text"
            [(ctModel)]="causalePagamento"
          ></ct-input>
        </p-ifta-label>
      </div>
    </div>
  </p-panel>

  <!-- Ritenuta -->
  <p-panel header="Ritenuta" [style]="{marginBottom: '10px'}">
    <div class="row">
      <div class="col">
        <ct-checkbox
          [background]="true"
          [label]="'Applica ritenuta'"
          [(bmModel)]="applicareRitenuta"
        ></ct-checkbox>
      </div>
      <div class="col">
        <p-ifta-label>
          <ct-input
            label="Aliquota Ritenuta (%)"
            type="number"
            [disabled]="!applicareRitenuta"
            [(ctModel)]="ritenutaAcconto"
          ></ct-input>
        </p-ifta-label>
      </div>
    </div>
  </p-panel>

  <!-- Dati Bollo -->
  <p-panel header="Bollo" [style]="{marginBottom: '10px'}">
    <div class="row">
      <div class="col">
        <ct-checkbox
          [background]="true"
          [label]="'Bollo Virtuale?'"
          [(bmModel)]="datiBollo.bolloVirtuale"
        ></ct-checkbox>
      </div>
      <div class="col">
        <p-ifta-label>
          <ct-input
            [label]="'Importo bollo'"
            [placeholder]="'Importo Bollo'"
            type="number"
            [(ctModel)]="datiBollo.importoBollo"
          ></ct-input>
        </p-ifta-label>
      </div>
    </div>
  </p-panel>

  <!-- Cassa Previdenziale -->
  <p-panel header="Cassa Previdenziale" [style]="{marginBottom: '10px'}">
    <div class="row">
      <div class="col">
        <p-ifta-label>
          <!-- Eventualmente usare p-select se hai opzioni predefinite come "TC01", "TC06", etc. -->
          <ct-input
            [label]="'Tipo Cassa'"
            type="text"
            [(ctModel)]="datiCassa.tipoCassa"
          ></ct-input>
        </p-ifta-label>
      </div>
      <div class="col">
        <p-ifta-label>
          <ct-input
            [label]="'Aliquota (%)'"
            type="text"
            [(ctModel)]="datiCassa.alCassa"
          ></ct-input>
        </p-ifta-label>
      </div>
      <div class="col">
        <p-ifta-label>
          <ct-input
            [label]="'Contributo'"
            type="number"
            [(ctModel)]="datiCassa.importoContributoCassa"
          ></ct-input>
        </p-ifta-label>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p-ifta-label>
          <ct-input
            [label]="'Imponibile'"
            type="number"
            [(ctModel)]="datiCassa.imponibileCassa"
          ></ct-input>
        </p-ifta-label>
      </div>
      <div class="col">
        <p-ifta-label>
          <ct-input
            [label]="'Aliquota IVA (%)'"
            type="number"
            [(ctModel)]="datiCassa.aliquotaIVACassa"
          ></ct-input>
        </p-ifta-label>
      </div>
      <div class="col">
        <p-ifta-label>
          <ct-input
            [label]="'Natura'"
            type="text"
            [(ctModel)]="datiCassa.natura"
          ></ct-input>
        </p-ifta-label>
      </div>
      <div class="col d-flex align-items-center">
        <ct-checkbox
          [background]="true"
          [label]="'Ritenuta su Cassa?'"
          [(bmModel)]="datiCassa.ritenuta"
        ></ct-checkbox>
      </div>
    </div>
  </p-panel>

  <!-- Dati Pagamento -->
  <p-panel header="Dati Pagamento" [style]="{marginBottom: '10px'}">
    <div class="row">
      <div class="col-6">
        <p-ifta-label>
          <p-select
            [(ngModel)]="datiPagamento.condizioniPagamento"
            [options]="condizioniPagamentoOptions"
          ></p-select>
          <label>Condizioni Pagamento</label>
        </p-ifta-label>
      </div>
      <div class="col-6">
        <p-ifta-label>
          <p-select
            [(ngModel)]="datiPagamento.dettaglioPagamento.modalitaPagamento"
            [options]="modalitaPagamentoOptions"
          ></p-select>
          <label>Modalità Pagamento</label>
        </p-ifta-label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p-ifta-label>
          <ct-input
            [label]="'Beneficiario'"
            type="text"
            [(ctModel)]="datiPagamento.dettaglioPagamento.beneficiario"
          ></ct-input>
        </p-ifta-label>
      </div>
      <div class="col">
        <p-ifta-label>
          <p-date-picker
            [(ngModel)]="datiPagamento.dettaglioPagamento.dataScadenzaPagamento"
          ></p-date-picker>
          <label>Data Scadenza Pag.</label>
        </p-ifta-label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p-ifta-label>
          <ct-input
            [label]="'IBAN'"
            type="text"
            [(ctModel)]="datiPagamento.dettaglioPagamento.iban"
          ></ct-input>
        </p-ifta-label>
      </div>
      <div class="col">
        <p-ifta-label>
          <ct-input
            [label]="'Importo Pagamento'"
            type="number"
            [(ctModel)]="datiPagamento.dettaglioPagamento.importoPagamento"
          ></ct-input>
        </p-ifta-label>
      </div>
      <div class="col">
        <p-ifta-label>
          <ct-input
            [label]="'Istituto Finanziario'"
            type="text"
            [(ctModel)]="datiPagamento.dettaglioPagamento.istitutoFinanziario"
          ></ct-input>
        </p-ifta-label>
      </div>
    </div>
  </p-panel>

  <!-- Scadenza e Stato -->
  <p-panel header="Scadenza e Stato" [style]="{marginBottom: '10px'}">
    <div class="row">
      <div class="col-6 p-3">
        <p-ifta-label>
          <p-date-picker [(ngModel)]="scadenza"></p-date-picker>
          <label>Data di scadenza Fattura</label>
        </p-ifta-label>
      </div>
      <div class="col-6 p-3">
        <p-ifta-label>
          <p-select [(ngModel)]="stato" [options]="statoOptions"></p-select>
          <label>Seleziona stato</label>
        </p-ifta-label>
      </div>
    </div>
  </p-panel>

  <!-- Movimento -->
  <p-panel header="Movimento in contabilità" [style]="{marginBottom: '10px'}">
    <div class="row">
      <div class="col">
        <ct-checkbox
          [label]="'Genera movimento in contabilità'"
          [background]="true"
          [(bmModel)]="generaMovimento"
        ></ct-checkbox>
      </div>
      <div class="col">
        <p style="color: gray;">
          Genererai un movimento in entrata con il valore del totale dovuto
          della fattura. Potrai cambiare le informazioni in seguito.
        </p>
      </div>
    </div>
  </p-panel>

</ct-dialog>
