<div class="container-md dashboard">
    <div class="row mt-4">
      <div class="col-3">
        <p-card *ngIf="dashBoardData">
          <ng-template pTemplate="title">Clienti attivi</ng-template>
          <ng-template pTemplate="content">
            <h3>{{ dashBoardData.clientiAttivi ?? 0 }}</h3>
          </ng-template>
        </p-card>
      </div>
      <div class="col-3">
        <p-card *ngIf="dashBoardData">
          <ng-template pTemplate="title">Fatturato mensile</ng-template>
          <ng-template pTemplate="content">
            <h3>{{ dashBoardData.fatturatoMese ?? 0 }}</h3>
          </ng-template>
        </p-card>
      </div>
      <div class="col-3">
        <p-card *ngIf="dashBoardData">
          <ng-template pTemplate="title">Fatturato Totale</ng-template>
          <ng-template pTemplate="content">
            <h3>{{ dashBoardData.fatturatoTotale ?? 0 }}</h3>
          </ng-template>
        </p-card>
      </div>
      <div class="col-3">
        <p-card *ngIf="dashBoardData">
          <ng-template pTemplate="title">Totale Ordini</ng-template>
          <ng-template pTemplate="content">
            <h3>{{ dashBoardData.totaleOrdini ?? 0 }}</h3>
          </ng-template>
        </p-card>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <p-card *ngIf="dashBoardData">
          <ng-template pTemplate="title">Andamento del Fatturato</ng-template>
          <ng-template pTemplate="content">
            <p-chart type="bar" [data]="dashBoardData.andamentoFatturato  ?? []"></p-chart>
          </ng-template>
        </p-card>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-6">
        <p-card *ngIf="dashBoardData">
          <ng-template pTemplate="title">Ultime fatture</ng-template>
          <ng-template pTemplate="content">
            <p-table [value]="dashBoardData.ultimeFatture ?? []" [paginator]="true" [rows]="5">
              <ng-template pTemplate="header">
                <tr>
                  <th>Numero</th>
                  <th>Data</th>
                  <th>Cliente</th>
                  <th>Importo</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-fattura>
                <tr>
                  <td>{{ fattura.numeroFattura }}</td>
                  <td>{{ fattura.dataEmissione }}</td>
                  <td>{{ fattura.nomeCliente }}</td>
                  <td>{{ fattura.totaleNetto }}</td>
                </tr>
              </ng-template>
            </p-table>
          </ng-template>
        </p-card>
      </div>
      <div class="col-6">
        <p-card *ngIf="dashBoardData">
          <ng-template pTemplate="title">Ultimi clienti</ng-template>
          <ng-template pTemplate="content">
            <p-table [value]="dashBoardData.ultimiClienti ?? []" [paginator]="true" [rows]="5">
              <ng-template pTemplate="header">
                <tr>
                  <th>Nome</th>
                  <th>Email</th>
                  <th>Telefono</th>
                  <th>Indirizzo</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-cliente>
                <tr>
                  <ng-container *ngIf="cliente.azienda === true; else defaultValue">
                    <td>
                      {{cliente.ragioneSociale}}
                    </td>
                  </ng-container>
                  <ng-template #defaultValue>
                    <td>
                      {{cliente.nome}} {{cliente.cognome}}
                    </td>
                  </ng-template>
                  <td>{{ cliente.email }}</td>
                  <td>{{ cliente.telefono }}</td>
                  <td>{{ cliente.indirizzo }}</td>
                </tr>
              </ng-template>
            </p-table>
          </ng-template>
        </p-card>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-6">
        <p-card class="p-card-shadow" *ngIf="dashBoardData">
          <ng-template pTemplate="title">Ultimi ordini</ng-template>
          <ng-template pTemplate="content">
            <p-table [value]="dashBoardData.ultimiOrdini ?? []" [paginator]="true" [rows]="5">
              <ng-template pTemplate="header">
                <tr>
                  <th>ID</th>
                  <th>Nome cliente</th>
                  <th>Totale NO IVA</th>
                  <th>Fatturato</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-ordine>
                <tr>
                  <td>{{ ordine.id }}</td>
                  <td>{{ ordine.cliente.nome }}</td>
                  <td>{{ ordine.totale }}</td>
                  <ng-container *ngIf="ordine.fatturato === true; else defaultValue">
                    <td>
                      <p-button 
                      [rounded]="true"
                      [text]="true"
                      severity="secondary"
                      size="small"
                      [icon]="'pi pi-check'">
                    </p-button>        
                    </td>
                  </ng-container>
                  <ng-template #defaultValue>
                    <td>
                      <p-button 
                      [rounded]="true"
                      [text]="true"
                      severity="secondary"
                      size="small"
                      [icon]="'pi pi-times'">
                    </p-button>        
                    </td>
                  </ng-template>
                </tr>
              </ng-template>
            </p-table>
          </ng-template>
        </p-card>
      </div>
      <div class="col-6">
        <p-card *ngIf="dashBoardData">
          <ng-template pTemplate="title">Ultimi prodotti</ng-template>
          <ng-template pTemplate="content">
            <p-table [value]="dashBoardData.ultimiProdotti ?? []" [paginator]="true" [rows]="5">
              <ng-template pTemplate="header">
                <tr>
                  <th>ID</th>
                  <th>Nome</th>
                  <th>Prezzo</th>
                  <th>IVA</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-prodotto>
                <tr>
                  <td>{{ prodotto.id }}</td>
                  <td>{{ prodotto.nome }}</td>
                  <td>{{ prodotto.prezzo }}</td>
                  <td>{{ prodotto.aliquotaIVA }}</td>
                </tr>
              </ng-template>
            </p-table>
          </ng-template>
        </p-card>
      </div>
    </div>
  </div>
  