<ct-dialog [size]="'small'" [title]="'Inserisci prodotto'" [footerActions]="footerActions" class="product-dialog">
  <!-- Pannello con i dati principali del prodotto -->
  <p-panel header="Dettagli Prodotto" class="mb-3"  [style]="{'marginBottom': '10px'}">
    <div class="row">
      <div class="col-4 p-3">
        <ct-input [label]="'Nome'" [(ctModel)]="nome"></ct-input>
      </div>
      <div class="col-4 p-3">
        <ct-input [label]="'Descrizione'" [(ctModel)]="descrizione"></ct-input>
      </div>
      <div class="col-4 p-3">
        <ct-input [label]="'Prezzo'" [(ctModel)]="prezzo"></ct-input>
      </div>
    </div>
  </p-panel>

  <!-- Pannello per categoria, IVA e quantità -->
  <p-panel header="Categorie e Dettagli" class="mb-3"  [style]="{'marginBottom': '10px'}">
    <div class="row">
      <div class="col-4 p-3">
        <p-select placeholder="Seleziona categoria" [optionLabel]="'nome'" [options]="categoria" [(ngModel)]="selectedCategoria"></p-select>
      </div>
      <div class="col-4 p-3">
        <p-select placeholder="Seleziona IVA" [options]="[22,10,5,0]" [(ngModel)]="aliquotaIVA"></p-select>
      </div>
      <div class="col-4 p-3">
        <ct-input [disabled]="!esauribile" [label]="'Quantità'" [(ctModel)]="quantita"></ct-input>
      </div>
    </div>
  </p-panel>

  <!-- Pannello per opzioni aggiuntive -->
  <p-panel header="Opzioni" class="mb-3"  [style]="{'marginBottom': '10px'}">
    <div class="row">
      <div class="col-4 p-3">
        <ct-checkbox [(bmModel)]="esauribile" [label]="'Prodotto esauribile'" [background]="true"></ct-checkbox>
      </div>
    </div>
  </p-panel>
</ct-dialog>
